@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background: #f7fcff;
  --foreground: #171717;
  --primary: #809bce;
  --primary-dark: #3c5a99;
  --secondary: #eac4d5;
  --secondary-dark: #c27b8c;
  --accent: #b8e0d2;
  --accent-dark: #85c8b8;
  --ui: #95b8d1 ;
  --ui-dark:  #5d89a8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Credit: GPT helped with styling */
button {
  @apply sm:px-5 sm:py-2 sm:text-sm;
  @apply md:px-6 md:py-3 md:text-base;
  @apply px-8 py-4 text-white bg-primary font-bold rounded-lg transition duration-300 ease-in-out transform hover:bg-primaryDark hover:scale-90;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
