@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #f7fcff;
  --foreground: #171717;
  --primary: #809bce;
  --primary-dark: #5876b8;
  --secondary: #c58fa8;
  --secondary-dark: #914859;
  --accent: #82b4a3;
  --accent-dark: #4d8673;
  --ui: #95b8d1 ;
  --ui-dark: #5d89a8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

button, select, input, textarea, label, p {
  @apply m-2;
}

/* Credit: GPT helped with styling */
button {
  @apply sm:px-5 sm:py-2 sm:text-sm;
  @apply md:px-6 md:py-3 md:text-base;
  @apply px-8 py-4 text-white bg-primary shadow-lg font-bold rounded-lg transition duration-300 ease-in-out transform hover:bg-primaryDark hover:scale-90;
  @apply border border-primaryDark;
}

.button-pink {
  @apply bg-secondary hover:bg-secondaryDark border-secondaryDark;
}

/* Credit: GPT helped with styling */
/* Custom select styles */
select {
  @apply border border-gray-200 px-4 py-2 text-lg text-gray-700 bg-white rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary transition-all duration-200;

  /* Remove default arrow icon */
  -webkit-appearance: none; /* for WebKit browsers like Safari */
  appearance: none; /* for other browsers */
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" stroke="currentColor" viewBox="0 0 24 24" %3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 0.7rem center;
  background-size: 1.2rem;
}

input, .exec-output, textarea {
  @apply w-full p-4 border border-gray-200 rounded-md bg-white text-gray-700 shadow-md;
  box-sizing: border-box;
}

/* Stuff for execution */
.exec-output, .exec-error {
  @apply max-h-80 overflow-y-auto overflow-x-hidden whitespace-normal break-words;
  @apply text-base w-full p-4 border border-gray-200 rounded-md bg-white text-gray-700 shadow-md;
  font-family: monospace;
  word-break: break-all; /* Ensures that extremely long words wrap */
  white-space: pre-wrap;
}

.exec-error { 
  @apply border-secondaryDark;
  @apply bg-secondary;
  @apply text-sm;
  @apply text-balance;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

